html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body { 
  font-family: "helvetica neue", helvetica, sans-serif; 
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 0px;
  color: #777;
  line-height: 22px;  
}

h1 {
  font-size: 240%;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #3078CA;
}

a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.header {
  margin-left: 1%;
}

.nav {
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}

.nav ul {
  list-style: none;
  margin-left: 1%;
  padding: 20px 0px;
}

.nav ul li {
  float: left;
  padding-right: 20px;
  font-weight: 500;
  font-size: 140%;
}

.content img {
  border: 1px solid #000;
}

.content a {
  font-weight: 600;
}

.interview {
  padding: 3% 1%;
}

.interview p {
  padding: 0 0 1em 0;
}

.title, h2 {
  font-size: 150%;
  font-weight: 500;
  padding: 0.5em 0;
  color: #333;
}

.featured-interview .title {
  color: inherit;
}

.interviews h2 {
  margin-bottom: 10px;
}

.interviews .tags h2 {
  margin-bottom: 15px;
}

.interview-index li {
  padding: 5px 0px;
}

.featured-interview, .interviews > div {
  width: 48%;
  float: left;
  padding: 2% 1%;
}

.featured-interview img {
  width: 91.2%;
  padding: 4%;
}

.featured-interview .subtitle {
  padding-bottom: 1em;
}

.interview {
  line-height: 32px;
}

.interview img {
  float: right;
  margin: 5px 0px 10px 20px;
  width: 44.65%;
  padding: 4%;
}

.interview .tags .tag {
  margin: 1px 5px;
}

.posted-date {
  float: left;
}

.tags { 
  float: left;
}

.tag {
  background-color: #ccc;
  border-radius: 5px;
  border: 1px solid #888;
  float: left;
  padding: 2px 7px;
  font-weight: 600;
  margin: 5px;
  line-height: 22px;
}

.tag:hover {
  background-color: #333;
}

.about {
  margin-left: 1%;
}

.about h2 {
  padding: 1em 0;
}

.featured-interview .posted-date {
  margin: 8px 0px;
}