---
layout: default
title: Foo
---

<div class="featured-interviews">
  {% for post in site.tags.foo %}
    <div class="featured-interview">
      <a href="{{ post.url }}">
        <img src="/images/featured{{ post.url }}.png">
      </a>
      <a href="{{ post.url }}">
        <div class="title">
          {{ post.title }}
        </div>
      </a>
      <div class="subtitle">
        {{ post.subtitle }}
      </div>
      <div class="posted-date">
        Posted on {{ post.date | date_to_string }} in
        <div class="tags">
          {% for tag in post.tags %}
            <div class="tag">
              {{ tag }}
            </div>
          {% endfor %}
        </div>
      </div>      
    </div>
  {% endfor %}
</div>
