---
layout: default
---
<div class="interview">
  <img src="/images/featured{{ page.url }}.png">
  <div class="title">
    {{ page.title }}
  </div>
  <div class="subtitle">
    {{ page.subtitle }}
  </div>
  <div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="weusethat">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="posted-date">
    Posted on {{ page.date | date_to_string }} in
  </div>
  <div class="tags">
    {% for tag in page.tags %}
      <a href="/tags/{{ tag }}">
        <div class="tag">
          {{ tag }}
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="clear-left"></div>
  <div class="content">
    {{ content }}
  </div>
</div>